ul.nav {
  list-style-type: none;
}

li.nav {
  float: right;
}

li.nav a {
  display: block;
  text-align: center;
  padding: 14px 16px
}

li:last-child {
  float: left;
}

.active {
  text-decoration: underline;
}
